Repository DocSpring/cigen: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, test, actionlint

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --all-targets --all-features -- -D warnings

test:
  run: cargo test

actionlint:
  run: "if ! command -v actionlint &> /dev/null; then\n  echo \"actionlint not found. Please install it:\"\n  echo \"  brew install actionlint\"\n  echo \"  or\"\n  echo \"  go install github.com/rhysd/actionlint/cmd/actionlint@latest\"\n  exit 1\nfi\nactionlint {staged_files}\n"

added initial design for CACHING.md
  CACHING.md
  CLAUDE.md
  NOTES.md
Due: none

improvements to CACHING.md
  CACHING.md
  README.md
Due: none

updates for docs and config schemas
  .vscode/settings.json
  CONFIG_FORMAT.md
  README.md
  examples/circleci_rails/workflows/setup/config.yml
  examples/circleci_rails/workflows/test/config.yml
  schemas/v1/config-base-schema.json
  schemas/v1/workflow-config-schema.json
  src/defaults/mod.rs
  src/models/config.rs
  src/providers/circleci/config.rs
  src/providers/circleci/mod.rs
  src/providers/mod.rs
Due: fmt, clippy, test

validate workflow configs
  .cigen/config.yml
  .vscode/settings.json
  CLAUDE.md
  examples/circleci_rails/workflows/setup/config.yml
  examples/circleci_rails/workflows/test/config.yml
  schemas/v1/config-base-schema.json
  schemas/v1/definitions.json
  schemas/v1/workflow-config-schema.json
  src/validation/config.rs
  src/validation/schemas.rs
  src/validation/validator.rs
Due: fmt, clippy, test

fix schemas
  examples/circleci_rails/config.yml
  examples/circleci_rails/workflows/setup/config.yml
  examples/circleci_rails/workflows/test/config.yml
  schemas/v1/config-base-schema.json
  schemas/v1/workflow-config-schema.json
  src/validation/config.rs
  src/validation/schemas.rs
Due: fmt, clippy, test

way better error reporting for Additional properties
  src/validation/config.rs
  src/validation/error_reporter.rs
Due: fmt, clippy, test

more work on circleci provider
  CACHING.md
  CONFIG_FORMAT.md
  src/lib.rs
  src/providers/circleci/config.rs
  src/providers/circleci/generator.rs
  src/providers/circleci/mod.rs
  src/providers/circleci/tests.rs
  src/providers/mod.rs
Due: fmt, clippy, test

got some yaml being emitted for circleci
  examples/circleci_rails/workflows/setup/jobs/generate_config.yml
  src/commands/generate.rs
  src/main.rs
  src/providers/circleci/mod.rs
  src/providers/mod.rs
Due: fmt, clippy, test

added setup field for circleci setup jobs
  CLAUDE.md
  examples/circleci_rails/workflows/setup/config.yml
  examples/circleci_rails/workflows/test/config.yml
  schemas/v1/workflow-config-schema.json
  src/commands/generate.rs
  src/defaults/mod.rs
  src/models/config.rs
  src/providers/circleci/generator.rs
  src/providers/circleci/tests.rs
Due: fmt, clippy, test

fixed workflow generation
  CLAUDE.md
  examples/circleci_rails/workflows/setup/jobs/generate_config.yml
  schemas/vendor/circleci-publicschema.json
  src/models/job.rs
  src/providers/circleci/builtin_steps.rs
  src/providers/circleci/config.rs
  src/providers/circleci/generator.rs
  src/providers/circleci/mod.rs
  src/providers/circleci/schema.rs
  src/providers/circleci/tests.rs
Due: fmt, clippy, test

feat(circleci): add MVP CircleCI config generation
  CLAUDE.md
  examples/circleci_rails/workflows/setup/jobs/generate_config.yml
  examples/circleci_rails/workflows/test/jobs/bootsnap.yml
  examples/circleci_rails/workflows/test/jobs/install_gems.yml
  examples/circleci_rails/workflows/test/jobs/install_npm.yml
  examples/circleci_rails/workflows/test/jobs/rails_assets.yml
  examples/circleci_rails/workflows/test/jobs/rspec.yml
  schemas/v1/job-schema.json
  src/commands/generate.rs
  src/loader/file_scanner.rs
  src/loader/mod.rs
  src/models/job.rs
  src/models/loaders/mod.rs
  src/providers/circleci/builtin_steps.rs
  src/providers/circleci/config.rs
  src/providers/circleci/generator.rs
  src/providers/circleci/mod.rs
  src/providers/circleci/template_commands.rs
  src/providers/circleci/tests.rs
  src/providers/circleci/tests_cache.rs
  src/providers/mod.rs
  src/validation/config.rs
  src/validation/data/cache_validator.rs
  src/validation/data/service_validator.rs
  src/validation/data/source_files_validator.rs
  src/validation/data/span_finder.rs
  src/validation/data/validator.rs
  src/validation/mod.rs
  src/validation/steps.rs
  src/validation/validator.rs
Due: fmt, clippy, test

added install script
  scripts/install.sh
Due: none

reorganize and improve notes
  notes/CACHING.md
  notes/CONFIG_FORMAT.md
  notes/NOTES.md
  notes/REQUIREMENTS.md
  notes/TEMPLATING.md
Due: none

feat: implement multi-output template generation
  notes/CONFIG_FORMAT.md
  src/commands/generate.rs
  src/loader/context.rs
  src/models/config.rs
  src/models/mod.rs
  src/templating/engine.rs
Due: fmt, clippy, test

feat: add docker_images configuration support
  src/models/config.rs
  src/models/mod.rs
  src/providers/circleci/docker_images.rs
  src/providers/circleci/generator.rs
  src/providers/circleci/mod.rs
  src/providers/circleci/tests.rs
Due: fmt, clippy, test

feat(circleci): implement architecture matrix conventions
  src/providers/circleci/generator.rs
  src/providers/circleci/tests.rs
  src/providers/circleci/tests_cache.rs
Due: fmt, clippy, test

feat(templating): add template include/partial support
  src/commands/generate.rs
  src/templating/engine.rs
Due: fmt, clippy, test

feat(circleci): implement dynamic config support (setup: true)
  src/models/config.rs
  src/models/mod.rs
  src/providers/circleci/config.rs
  src/providers/circleci/generator.rs
  src/providers/circleci/tests.rs
Due: fmt, clippy, test

feat: implement checksum function and fix cache validation
  .cigen/config.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  src/loader/config_loader.rs
  src/loader/mod.rs
  src/providers/circleci/generator.rs
  src/templating/functions.rs
  src/validation/data/reference_validator.rs
  src/validation/validator.rs
Due: fmt, clippy, test

feat: add automatic cache injection based on job.cache field
  src/providers/circleci/generator.rs
Due: fmt, clippy, test

feat: use cache_definitions key templates in cache injection
  src/defaults/mod.rs
  src/models/config.rs
  src/providers/circleci/generator.rs
Due: fmt, clippy, test

feat: implement core job-status cache (skip cache) for CI optimization
  src/providers/circleci/docker_images.rs
  src/providers/circleci/generator.rs
Due: fmt, clippy, test

feat: add flexible command system and complete DocSpring CI job conversion
  CLAUDE.md
  examples/circleci_rails/commands/commit_and_push_changed_files.yml
  examples/circleci_rails/commands/configure_git_user.yml
  examples/circleci_rails/config/source_file_groups.yml
  examples/circleci_rails/workflows/test/jobs/compile_client_webpack_test.yml
  examples/circleci_rails/workflows/test/jobs/compile_rails_assets_test.yml
  examples/circleci_rails/workflows/test/jobs/install_app_npm_packages.yml
  examples/circleci_rails/workflows/test/jobs/install_gems.yml
  examples/circleci_rails/workflows/test/jobs/rspec.yml
  examples/circleci_rails/workflows/test/jobs/rspec_passed.yml
  examples/circleci_rails/workflows/test/jobs/ruby_lint.yml
  notes/JOB_SKIPPING.md
  schemas/v1/command-schema.json
  schemas/v1/job-schema.json
  src/models/command.rs
  src/models/job.rs
  src/models/tests.rs
  src/providers/circleci/generator.rs
  src/validation/data/source_files_validator.rs
  src/validation/data/validator.rs
  src/validation/steps.rs
Due: fmt, clippy, test

updates for caching architecture and docs
  .github/workflows/ci.yml
  docs/astro.config.mjs
  docs/biome.jsonc
  docs/package.json
  docs/src/content.config.ts
  docs/src/content/docs/advanced/job-skipping.mdx
  docs/src/content/docs/advanced/or-dependencies.mdx
  docs/src/content/docs/commands/generate.mdx
  docs/src/content/docs/commands/validate.mdx
  docs/src/content/docs/configuration/cache.mdx
  docs/src/content/docs/configuration/overview.mdx
  docs/src/content/docs/configuration/packages.mdx
  docs/src/content/docs/examples/basic-usage.mdx
  docs/src/content/docs/installation.mdx
  docs/src/content/docs/philosophy.mdx
  docs/src/content/docs/providers/circleci.mdx
  docs/src/content/docs/quick-start.mdx
  docs/src/content/docs/reference/requirements.mdx
  lefthook.yml
  notes/CACHING.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/graph/dependency_graph.rs
  src/models/job.rs
  src/providers/circleci/tests.rs
  src/providers/circleci/tests_cache.rs
  src/validation/steps.rs
Due: fmt, clippy, test, actionlint

work on built-in package manager support
  docs/src/content/docs/configuration/packages.mdx
  examples/packages_test/.cigen/cigen.yml
  examples/packages_test/.cigen/workflows/test/jobs/build.yml
  examples/packages_test/.cigen/workflows/test/jobs/lint.yml
  examples/packages_test/.cigen/workflows/test/jobs/test.yml
  examples/packages_test/package-lock.json
  examples/packages_test_inline/cigen.yml
  examples/packages_test_inline/package-lock.json
  notes/CACHING.md
  schemas/v1/job-schema.json
  src/commands/generate.rs
  src/lib.rs
  src/models/config.rs
  src/models/job.rs
  src/models/mod.rs
  src/models/package_managers.rs
  src/packages/config_templates/package_managers/dotnet.yml
  src/packages/config_templates/package_managers/go.yml
  src/packages/config_templates/package_managers/java.yml
  src/packages/config_templates/package_managers/node.yml
  src/packages/config_templates/package_managers/python.yml
  src/packages/config_templates/package_managers/ruby.yml
  src/packages/config_templates/package_managers/rust.yml
  src/packages/config_templates/version_sources.yml
  src/packages/config_templates/version_sources/bundler.yml
  src/packages/config_templates/version_sources/cargo.yml
  src/packages/config_templates/version_sources/dotnet.yml
  src/packages/config_templates/version_sources/go.yml
  src/packages/config_templates/version_sources/java.yml
  src/packages/config_templates/version_sources/node.yml
  src/packages/config_templates/version_sources/python.yml
  src/packages/config_templates/version_sources/ruby.yml
  src/packages/config_templates/version_sources/rustc.yml
  src/packages/deduplicator.rs
  src/packages/detector_dynamic.rs
  src/packages/installer.rs
  src/packages/mod.rs
Due: fmt, clippy, test

improve package management system docs
  docs/src/content/docs/configuration/packages.mdx
Due: none

more work on package stuff. update docs to show current status
  .gitignore
  .prettierignore
  AGENTS.md
  README.md
  docs/src/content/docs/advanced/job-skipping.mdx
  docs/src/content/docs/advanced/or-dependencies.mdx
  docs/src/content/docs/commands/generate.mdx
  docs/src/content/docs/commands/validate.mdx
  docs/src/content/docs/configuration/cache.mdx
  docs/src/content/docs/configuration/packages.mdx
  docs/src/content/docs/examples/basic-usage.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/providers/circleci.mdx
  docs/src/content/docs/quick-start.mdx
  examples/circleci_node_simple_inline/cigen.yml
  examples/circleci_node_simple_inline/package-lock.json
  examples/circleci_node_simple_split/.cigen/config.yml
  examples/circleci_node_simple_split/.cigen/workflows/test/jobs/build.yml
  examples/circleci_node_simple_split/.cigen/workflows/test/jobs/lint.yml
  examples/circleci_node_simple_split/.cigen/workflows/test/jobs/test.yml
  examples/circleci_node_simple_split/package-lock.json
  lefthook.yml
  src/commands/generate.rs
  src/loader/config_loader.rs
  src/loader/job_loader.rs
  src/main.rs
  src/models/config.rs
  src/models/mod.rs
  src/packages/deduplicator.rs
  src/validation/tests.rs
  src/validation/validator.rs
Due: fmt, clippy, test

include advanced git checkout as a core feature
  examples/circleci_node_simple_split/.cigen/workflows/main/jobs/build.yml
  examples/circleci_node_simple_split/.cigen/workflows/main/jobs/lint.yml
  examples/circleci_node_simple_split/.cigen/workflows/main/jobs/test.yml
  src/graph/dependency_graph.rs
  src/models/config.rs
  src/models/job.rs
  src/models/mod.rs
  src/packages/deduplicator.rs
  src/providers/circleci/config.rs
  src/providers/circleci/generator.rs
  src/providers/circleci/template_commands.rs
  src/providers/circleci/templates/shallow_checkout.yml
  src/providers/circleci/tests.rs
  src/providers/circleci/tests_cache.rs
  src/validation/steps.rs
Due: fmt, clippy, test

more advanced config options for git checkout
  README.md
  docs/astro.config.mjs
  docs/src/content/docs/configuration/cache.mdx
  docs/src/content/docs/configuration/checkout.mdx
  docs/src/content/docs/configuration/overview.mdx
  docs/src/content/docs/examples/basic-usage.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/providers/circleci.mdx
  docs/src/content/docs/quick-start.mdx
  schemas/v1/definitions.json
  schemas/v1/job-schema.json
  schemas/v1/workflow-config-schema.json
  src/models/config.rs
  src/models/job.rs
  src/providers/circleci/generator.rs
Due: fmt, clippy, test

move prd to notes
  notes/PRD.txt
Due: none

feat: packages shorthand, approval job handling, cigen_shallow_checkout, per-workflow outputs; migrate DocSpring jobs; split setup/main outputs
  schemas/v1/job-schema.json
  src/commands/generate.rs
  src/graph/dependency_graph.rs
  src/loader/config_loader.rs
  src/models/job.rs
  src/models/tests_packages.rs
  src/packages/deduplicator.rs
  src/packages/detector_dynamic.rs
  src/packages/installer.rs
  src/providers/circleci/generator.rs
  src/providers/circleci/template_commands.rs
  src/providers/circleci/tests.rs
  src/providers/circleci/tests_cache.rs
  src/validation/steps.rs
Due: fmt, clippy, test

feat: set up trycmd tests
  Cargo.lock
  Cargo.toml
  tests/cli.rs
  tests/cmd/generate_inline.trycmd
  tests/cmd/help.trycmd
  tests/cmd/invalid_config.trycmd
Due: fmt, clippy, test

release workflow for docs
  .github/workflows/docs.yml
Due: actionlint

no pre-push hook needed
  lefthook.yml
Due: none

remove debug statements, updates to fix issues
  src/loader/mod.rs
  src/providers/circleci/generator.rs
  src/validation/validator.rs
  tests/cmd/invalid_config.trycmd
Due: fmt, clippy, test

try publish docs again
  .github/workflows/docs.yml
Due: actionlint

fix docs build
  .github/workflows/docs.yml
Due: actionlint

synthesize dynamic setup job automatically
  src/commands/generate.rs
  src/providers/circleci/generator.rs
  src/providers/circleci/mod.rs
Due: fmt, clippy, test

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  test: any of: *.rs
  actionlint: any of: .github/workflows/*.{yml,yaml}
