Repository DocSpring/cigen: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, test, actionlint

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --all-targets --all-features -- -D warnings

test:
  run: cargo test

actionlint:
  run: "if ! command -v actionlint &> /dev/null; then\n  echo \"actionlint not found. Please install it:\"\n  echo \"  brew install actionlint\"\n  echo \"  or\"\n  echo \"  go install github.com/rhysd/actionlint/cmd/actionlint@latest\"\n  exit 1\nfi\nactionlint {staged_files}\n"

docker build feature, docs, release improvements
  .biomeignore
  .github/wait-for-checks.js
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  README.md
  biome.jsonc
  docs/package.json
  docs/pnpm-lock.yaml
  docs/public/install.sh
  docs/public/logo-512.png
  docs/public/logo.png
  docs/src/assets/houston.webp
  docs/src/assets/splash-image.jpeg
  docs/src/components/Card.astro
  docs/src/components/CardWithIcon.astro
  docs/src/content/docs/commands/generate.mdx
  docs/src/content/docs/commands/validate.mdx
  docs/src/content/docs/configuration/overview.mdx
  docs/src/content/docs/configuration/packages.mdx
  docs/src/content/docs/examples/basic-usage.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/installation.mdx
  docs/src/content/docs/quick-start.mdx
  scripts/create-release-tag.sh
  src/models/config.rs
  src/providers/circleci/generator.rs
Due: fmt, clippy, test, actionlint

fix ci
  .github/workflows/docs.yml
Due: actionlint

feat(circleci): opt-in docker_build with BASE_HASH + DAG; add layer_caching option; fix --config .cigen output path; docs workflow waits for CI; tests + README updates
  README.md
  integration_tests/circleci_docker_build_layer_cache/.cigen/config.yml
  integration_tests/circleci_docker_build_layer_cache/Dockerfile
  integration_tests/circleci_docker_build_minimal/.cigen/config.yml
  integration_tests/circleci_docker_build_minimal/Dockerfile
  src/main.rs
  src/models/config.rs
  src/providers/circleci/generator.rs
  tests/snapshot_docker_build.rs
Due: fmt, clippy, test

fix(circleci): do not add build-image requires to approval jobs
  src/providers/circleci/generator.rs
Due: fmt, clippy, test

updates and fixes
  .github/workflows/release.yml
  docker/cigen.Dockerfile
  notes/dynamic_setup_redesign.md
  src/commands/generate.rs
  src/models/config.rs
  src/providers/circleci/generator.rs
Due: fmt, clippy, test, actionlint

no windows for now
  .github/workflows/release.yml
  README.md
  src/commands/graph.rs
Due: fmt, clippy, test, actionlint

fix docker releases
  .dockerignore
  .github/workflows/release.yml
  Dockerfile
  docker/cigen.Dockerfile
Due: actionlint

many fixes and improvements
  integration_tests/circleci_rails/.cigen/commands/configure_git_user.yml
  src/providers/circleci/generator.rs
  src/providers/circleci/template_commands.rs
  src/providers/circleci/tests.rs
  src/providers/circleci/tests_cache.rs
Due: fmt, clippy, test

added support for submodule hashes
  schemas/v1/job-schema.json
  src/graph/dependency_graph.rs
  src/models/job.rs
  src/packages/deduplicator.rs
  src/providers/circleci/generator.rs
  src/providers/circleci/template_commands.rs
  src/providers/circleci/templates/write_submodule_commit_hash.yml
  src/providers/circleci/tests.rs
  src/providers/circleci/tests_cache.rs
  src/validation/data/source_files_validator.rs
  src/validation/steps.rs
Due: fmt, clippy, test

updated and roadmap
  docs/astro.config.mjs
  docs/src/content/docs/roadmap.mdx
  src/models/config.rs
  src/providers/circleci/generator.rs
  src/providers/circleci/templates/shallow_checkout.yml
  tests/snapshots/snapshot_circleci_rails__circleci_rails_config.snap
Due: fmt, clippy, test

Add GitHub Actions provider foundation (Phase 1)
  notes/SELF_HOSTING_ON_GITHUB_ACTIONS.md
  src/providers/github_actions/generator.rs
  src/providers/github_actions/mod.rs
  src/providers/github_actions/schema.rs
  src/providers/github_actions/tests.rs
  src/providers/mod.rs
Due: fmt, clippy, test

Add Phase 2: Core GitHub Actions features
  src/providers/github_actions/generator.rs
  src/providers/github_actions/tests.rs
Due: fmt, clippy, test

feat: implement GitHub Actions cache generation (Phase 3)
  src/providers/github_actions/cache.rs
  src/providers/github_actions/generator.rs
  src/providers/github_actions/mod.rs
Due: fmt, clippy, test

feat: implement GitHub Actions job skipping system (Phase 4)
  src/providers/github_actions/generator.rs
  src/providers/github_actions/job_skip.rs
  src/providers/github_actions/mod.rs
Due: fmt, clippy, test

refactor: migrate from Nx to Turborepo
  nx.json
  project.json
  turbo.json
Due: none

feat: add .cigen/ config for self-hosting
  .cigen/config.yml
  .cigen/workflows/ci.yml
  .cigen/workflows/ci/jobs/clippy.yml
  .cigen/workflows/ci/jobs/fmt.yml
  .cigen/workflows/ci/jobs/test.yml
  CLAUDE.md
  docs/src/content/docs/advanced/job-skipping.mdx
  docs/src/content/docs/commands/generate.mdx
  docs/src/content/docs/commands/validate.mdx
  docs/src/content/docs/configuration/cache.mdx
  docs/src/content/docs/configuration/overview.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/philosophy.mdx
  notes/CIRCLECI.md
  notes/CONFIG_FORMAT.md
  notes/REQUIREMENTS.md
  notes/SELF_HOSTING_ON_GITHUB_ACTIONS.md
  src/commands/generate.rs
  src/loader/config_loader.rs
  src/validation/validator.rs
Due: fmt, clippy, test

fix: handle CircleCI run.command format in GitHub Actions generator
  .cigen/workflows/ci/jobs/clippy.yml
  .cigen/workflows/ci/jobs/fmt.yml
  .cigen/workflows/ci/jobs/test.yml
  .github/workflows/ci.yml
  src/providers/github_actions/generator.rs
Due: fmt, clippy, test, actionlint

chore: regenerate CI workflow with prettier formatting
  .github/workflows/ci.yml
Due: actionlint

feat: add full GitHub Actions support with permissions, environment, concurrency, and matrix
  .cigen/workflows/docs.yml
  .cigen/workflows/docs/jobs/build.yml
  .cigen/workflows/docs/jobs/ci_gate.yml
  .cigen/workflows/docs/jobs/deploy.yml
  .cigen/workflows/release.yml
  .cigen/workflows/release/jobs/docker_image.yml
  .cigen/workflows/release/jobs/release_build.yml
  .cigen/workflows/release/jobs/release_create.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  schemas/v1/job-schema.json
  src/models/config.rs
  src/models/job.rs
  src/packages/deduplicator.rs
  src/providers/circleci/generator.rs
  src/providers/github_actions/generator.rs
  src/providers/github_actions/schema.rs
Due: fmt, clippy, test, actionlint

Fix GitHub Actions workflow generation and validation
  .cigen/config.yml
  .cigen/workflows/ci.yml
  .cigen/workflows/ci/jobs/test.yml
  .cigen/workflows/docs.yml
  .cigen/workflows/docs/jobs/build.yml
  .cigen/workflows/docs/jobs/deploy.yml
  .cigen/workflows/release.yml
  .cigen/workflows/release/jobs/docker_image.yml
  .cigen/workflows/release/jobs/release_create.yml
  .github/actionlint.yaml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  src/graph/dependency_graph.rs
  src/loader/config_loader.rs
  src/loader/job_loader.rs
  src/packages/deduplicator.rs
  src/providers/circleci/tests.rs
  src/providers/circleci/tests_cache.rs
  src/providers/github_actions/cache.rs
  src/providers/github_actions/generator.rs
  src/providers/github_actions/job_skip.rs
  src/providers/github_actions/schema.rs
  src/providers/github_actions/tests.rs
  src/validation/steps.rs
  tests/integration_split_vs_inline.rs
  tests/snapshots/snapshot_node_simple_split__node_simple_split_config.snap
Due: fmt, clippy, test, actionlint

Fix dead code warnings in CircleCI config structs
  src/providers/circleci/config.rs
Due: fmt, clippy, test

Update documentation: examples/ → integration_tests/
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  CLAUDE.md
  docs/CLAUDE.md
Due: actionlint

working on a new plugin architecture
  Cargo.lock
  Cargo.toml
  build.rs
  notes/PLUGIN_ARCHITECTURE.md
  proto/plugin.proto
  src/lib.rs
  src/plugin/discovery.rs
  src/plugin/manager.rs
  src/plugin/mod.rs
  src/plugin/protocol.rs
Due: fmt, clippy, test

more progress on plugins
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  notes/MIGRATION_STATUS.md
  plugins/provider-github/Cargo.toml
  plugins/provider-github/src/main.rs
  src/plugin/discovery.rs
  src/plugin/manager.rs
  src/plugin/mod.rs
  src/plugin/protocol.rs
  src/plugin/stdio_transport.rs
Due: fmt, clippy, test

no coderabbit, too many rate limits
  CLAUDE.md
Due: none

more plugin work
  notes/STDIO_TRANSPORT_DESIGN.md
  plugins/provider-github/src/main.rs
  src/plugin/framing.rs
  src/plugin/manager.rs
  src/plugin/mod.rs
  tests/plugin_integration.rs
Due: fmt, clippy, test

another milestone
  notes/MIGRATION_STATUS.md
  notes/PLUGIN_ARCHITECTURE.md
  proto/plugin.proto
Due: none

feat: implement cigen.yml schema parser, DAG builder, and orchestration
  examples/README.md
  examples/minimal/README.md
  examples/minimal/cigen.yml
  examples/monorepo/README.md
  examples/monorepo/cigen.yml
  examples/multi-provider/README.md
  examples/multi-provider/cigen.yml
  examples/rails-app/README.md
  examples/rails-app/cigen.yml
  notes/CIGEN_YML_SCHEMA.md
  src/lib.rs
  src/orchestrator/dag.rs
  src/orchestrator/mod.rs
  src/orchestrator/workflow.rs
  src/schema/config.rs
  src/schema/job.rs
  src/schema/mod.rs
  src/schema/step.rs
  tests/schema_parsing.rs
Due: fmt, clippy, test

feat: implement full plugin protocol workflow (Plan + Generate)
  plugins/provider-github/src/main.rs
  src/orchestrator/convert.rs
  src/orchestrator/mod.rs
  src/orchestrator/workflow.rs
  src/plugin/manager.rs
  src/schema/mod.rs
  tests/end_to_end_workflow.rs
Due: fmt, clippy, test

feat: wire GitHub Actions schema into provider plugin and add render command
  examples/minimal/cigen.yml
  plugins/provider-github/src/converter.rs
  plugins/provider-github/src/main.rs
  src/commands/mod.rs
  src/commands/render.rs
  src/main.rs
Due: fmt, clippy, test

feat: generate separate workflow files based on .cigen/workflows/ structure
  .github/actionlint.yaml
  .github/wait-for-checks.js
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  cigen.yml
  plugins/provider-github/src/main.rs
  proto/plugin.proto
  src/loader.rs
  src/orchestrator/convert.rs
  src/orchestrator/dag.rs
  src/schema/job.rs
Due: fmt, clippy, test, actionlint

more progress
  .cigen/workflows/ci/jobs/clippy.yml
  .cigen/workflows/ci/jobs/fmt.yml
  .cigen/workflows/ci/jobs/test.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  Taskfile.yml
  docs/AGENTS.md
Due: actionlint

feat: add self-referential hashing and tighten GH workflows
  .cigen/config.yml
  .cigen/workflows/ci/jobs/build_cigen.yml
  .cigen/workflows/docs/jobs/build.yml
  .cigen/workflows/docs/jobs/ci_gate.yml
  .cigen/workflows/docs/jobs/deploy.yml
  .cigen/workflows/release/jobs/docker_image.yml
  .cigen/workflows/release/jobs/release_build.yml
  .cigen/workflows/release/jobs/release_create.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docker/README.md
  docker/ci-runner/Dockerfile
  notes/NOTES.md
  plugins/provider-github/src/main.rs
  proto/plugin.proto
  scripts/build-ci-runner.sh
  src/commands/hash.rs
  src/commands/mod.rs
  src/loader.rs
  src/main.rs
  src/orchestrator/convert.rs
  src/orchestrator/dag.rs
  src/orchestrator/workflow.rs
  src/schema/config.rs
  src/schema/job.rs
  src/schema/step.rs
  tests/cli.rs
Due: fmt, clippy, test, actionlint

updates
  CLAUDE.md
  plugins/provider-github/src/main.rs
Due: fmt, clippy, test

updates
  .cigen/workflows/ci/jobs/test.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  Cargo.toml
  README.md
  examples/README.md
  examples/monorepo/README.md
  examples/monorepo/cigen.yml
  notes/CIGEN_YML_SCHEMA.md
  notes/NOTES.md
  notes/PRD.txt
  notes/SELF_HOSTING_ON_GITHUB_ACTIONS.md
  package.json
  plugins/provider-github/src/main.rs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/schema/config.rs
Due: fmt, clippy, test, actionlint

Fix docs workflow cache artifact fallback
  .cigen/config.yml
  .cigen/workflows/docs/jobs/build.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  plugins/provider-github/src/main.rs
Due: fmt, clippy, test, actionlint

Add wait-for-checks script for docs gate
  .github/wait-for-checks.js
Due: none

more work
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docker/ci-runner/Dockerfile
  docker/cigen-bootstrap/Dockerfile
  docker/cigen-bootstrap/README.md
  plugins/provider-circleci/Cargo.toml
  plugins/provider-circleci/src/main.rs
  plugins/provider-circleci/src/shallow_checkout.yml
  plugins/provider-github/src/main.rs
  proto/plugin.proto
  schemas/v1/definitions.json
  schemas/v1/workflow-config-schema.json
  src/commands/generate.rs
  src/loader.rs
  src/orchestrator/convert.rs
  src/orchestrator/dag.rs
  src/orchestrator/workflow.rs
  src/schema/command.rs
  src/schema/config.rs
  src/schema/job.rs
  src/schema/mod.rs
  src/schema/step.rs
  src/schema/workflow.rs
  tests/circleci_job_status.rs
  tests/schema_parsing.rs
  tests/snapshot_circleci_rails.rs
  tests/workflow_condition_validation.rs
Due: fmt, clippy, test

implement more required features
  plugins/provider-circleci/src/main.rs
  proto/plugin.proto
  src/loader.rs
  src/orchestrator/convert.rs
  src/orchestrator/dag.rs
  src/orchestrator/mod.rs
  src/schema/job.rs
  src/schema/mod.rs
  src/schema/workflow.rs
Due: fmt, clippy, test

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  test: any of: *.rs
  actionlint: any of: .github/workflows/*.{yml,yaml}
