Repository DocSpring/cigen: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, test, actionlint

lefthook.yml:

# Lefthook configuration for cigen
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
    clippy:
      glob: "*.rs"
      run: cargo clippy -- -D warnings
    test:
      glob: "*.rs"
      run: cargo test
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: |
        if ! command -v actionlint &> /dev/null; then
          echo "actionlint not found. Please install it:"
          echo "  brew install actionlint"
          echo "  or"
          echo "  go install github.com/rhysd/actionlint/cmd/actionlint@latest"
          exit 1
        fi
        actionlint {staged_files}

pre-push:
  parallel: true
  commands:
    check:
      run: cargo check
    test-all:
      run: cargo test --all

cache crates on ci
  .github/workflows/ci.yml
Due: actionlint

use rust:1.88.0
  .github/workflows/ci.yml
Due: actionlint

update placeholder
  tests/basic_test.rs
Due: fmt, clippy, test

catch same issues locally
  lefthook.yml
Due: none

use nx to run ci commands
  .github/workflows/ci.yml
Due: actionlint

set NX_NO_CLOUD
  .github/workflows/ci.yml
Due: actionlint

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: none

format .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: actionlint

added biome, ultracite, prettier for md/yaml
  .cursor/rules/ultracite.mdc
  .mcp.json
  .prettierrc
  CLAUDE.md
  biome.jsonc
  lefthook.yml
  nx.json
  package-lock.json
  package.json
  project.json
  tsconfig.json
Due: none

update README
  README.md
Due: none

initial prototype for examples/circleci_rails
  .gitignore
  README.md
  examples/circleci_rails/cigen.yml
  examples/circleci_rails/commands/set_env.yml
  examples/circleci_rails/commands/setup_database.yml
  examples/circleci_rails/config/docker.yml
  examples/circleci_rails/jobs/test/bootsnap.yml
  examples/circleci_rails/jobs/test/install_gems.yml
  examples/circleci_rails/jobs/test/install_npm.yml
  examples/circleci_rails/jobs/test/rails_assets.yml
  examples/circleci_rails/jobs/test/rspec.yml
  examples/circleci_rails/templates/jobs/default.yml
  schemas/v1/cigen-schema.yml
Due: none

feat: implement basic CLI with --help and --version flags
  src/main.rs
Due: fmt, clippy, test

implementing schemas
  .gitignore
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  README.md
  examples/circleci_rails/config.yml
  examples/circleci_rails/config/source_file_groups.yml
  examples/circleci_rails/workflows/setup/config.yml
  examples/circleci_rails/workflows/setup/jobs/generate_config.yml
  examples/circleci_rails/workflows/test/jobs/bootsnap.yml
  examples/circleci_rails/workflows/test/jobs/install_gems.yml
  examples/circleci_rails/workflows/test/jobs/install_npm.yml
  examples/circleci_rails/workflows/test/jobs/rails_assets.yml
  examples/circleci_rails/workflows/test/jobs/rspec.yml
  schemas/v1/command-schema.json
  schemas/v1/config-base-schema.json
  schemas/v1/config-schema.json
  schemas/v1/job-schema.json
  src/main.rs
Due: fmt, clippy, test

add CONFIG_FORMAT.md to explain key differences to other CI formats
  CONFIG_FORMAT.md
Due: none

update schemas
  examples/circleci_rails/config/services.yml
  examples/circleci_rails/workflows/test/jobs/bootsnap.yml
  examples/circleci_rails/workflows/test/jobs/install_gems.yml
  examples/circleci_rails/workflows/test/jobs/install_npm.yml
  examples/circleci_rails/workflows/test/jobs/rails_assets.yml
  examples/circleci_rails/workflows/test/jobs/rspec.yml
  lefthook.yml
  schemas/v1/config-base-schema.json
  schemas/v1/job-schema.json
Due: none

feat: implement JSON schema validation with offline support
  Cargo.lock
  Cargo.toml
  examples/circleci_rails/config.yml
  schemas/v1/command-schema.json
  schemas/v1/config-base-schema.json
  schemas/v1/config-schema.json
  schemas/v1/job-schema.json
  schemas/vendor/draft-07-schema.json
  src/lib.rs
  src/main.rs
  src/validation.rs
Due: fmt, clippy, test

refactored validation and logging
  examples/circleci_rails/config.yml
  lefthook.yml
  src/main.rs
  src/validation.rs
  src/validation/config.rs
  src/validation/job.rs
  src/validation/merger.rs
  src/validation/mod.rs
  src/validation/schemas.rs
  src/validation/tests.rs
  src/validation/validator.rs
Due: fmt, clippy, test

command validation
  src/main.rs
  src/validation/command.rs
  src/validation/config.rs
  src/validation/job.rs
  src/validation/mod.rs
  src/validation/schemas.rs
  src/validation/validator.rs
Due: fmt, clippy, test

set up data model with structs
  src/lib.rs
  src/models/command.rs
  src/models/config.rs
  src/models/job.rs
  src/models/loaders/mod.rs
  src/models/loaders/v1.rs
  src/models/mod.rs
  src/models/tests.rs
Due: fmt, clippy, test

amazing error messages
  Cargo.lock
  Cargo.toml
  README.md
  src/models/tests.rs
  src/validation/error_reporter.rs
  src/validation/job.rs
  src/validation/mod.rs
Due: fmt, clippy, test

more validation updates, ready to implement data validation
  CONFIG_FORMAT.md
  examples/circleci_rails/workflows/test/jobs/rails_assets.yml
  examples/circleci_rails/workflows/test/jobs/rspec.yml
  src/models/config.rs
  src/models/job.rs
  src/validation/config.rs
  src/validation/data/error.rs
  src/validation/data/mod.rs
  src/validation/data/span_finder.rs
  src/validation/data/validator.rs
  src/validation/job.rs
  src/validation/mod.rs
  src/validation/tests.rs
  src/validation/validator.rs
Due: fmt, clippy, test

more progress, added inspect command
  src/lib.rs
  src/loader/merger.rs
  src/loader/mod.rs
  src/main.rs
  src/validation/config.rs
  src/validation/mod.rs
  src/validation/validator.rs
Due: fmt, clippy, test

nicer inspect output
  CLAUDE.md
  src/main.rs
  src/models/display.rs
  src/models/mod.rs
Due: fmt, clippy, test

added list command
  src/commands/generate.rs
  src/commands/init.rs
  src/commands/inspect.rs
  src/commands/list.rs
  src/commands/mod.rs
  src/commands/validate.rs
  src/main.rs
Due: fmt, clippy, test

json format for inspect
  src/commands/inspect.rs
  src/main.rs
  src/models/display.rs
  src/models/mod.rs
Due: fmt, clippy, test

added data validation with beautiful error messages
  src/loader/mod.rs
  src/loader/span_tracker.rs
  src/validation/data/error.rs
  src/validation/data/mod.rs
  src/validation/data/validator.rs
  src/validation/mod.rs
Due: fmt, clippy, test

fixed validations
  examples/circleci_rails/workflows/test/jobs/rspec.yml
  src/loader/mod.rs
  src/validation/data/error.rs
  src/validation/error_reporter.rs
Due: fmt, clippy, test

Refactor loader/mod.rs to extract validation logic
  examples/circleci_rails/workflows/test/jobs/rspec.yml
  schemas/v1/job-schema.json
  src/loader/mod.rs
  src/models/job.rs
  src/validation/data/cache_validator.rs
  src/validation/data/mod.rs
  src/validation/data/reference_validator.rs
  src/validation/data/requires_validator.rs
  src/validation/data/service_validator.rs
  src/validation/data/source_files_validator.rs
Due: fmt, clippy, test

added graph command
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  examples/circleci_rails/workflows/test/jobs/rspec.yml
  src/commands/graph.rs
  src/commands/mod.rs
  src/graph/dependency_graph.rs
  src/graph/mod.rs
  src/lib.rs
  src/main.rs
Due: fmt, clippy, test

improved graph
  CLAUDE.md
  src/commands/graph.rs
  src/loader/cache_dependencies.rs
  src/loader/mod.rs
Due: fmt, clippy, test

generate graph images and show them in the terminal
  Cargo.lock
  Cargo.toml
  src/commands/graph.rs
  src/commands/mod.rs
  src/main.rs
Due: fmt, clippy, test

added TEMPLATING.md and some examples
  TEMPLATING.md
  examples/circleci_rails/config/vars.yml
  examples/circleci_rails/etc-hosts-dev.txt
Due: none

added templating
  Cargo.lock
  Cargo.toml
  TEMPLATING.md
  src/commands/generate.rs
  src/commands/graph.rs
  src/commands/inspect.rs
  src/commands/list.rs
  src/commands/validate.rs
  src/lib.rs
  src/loader/mod.rs
  src/main.rs
  src/models/config.rs
  src/templating/engine.rs
  src/templating/functions.rs
  src/templating/mod.rs
  src/templating/variables.rs
  src/validation/command.rs
  src/validation/config.rs
  src/validation/job.rs
  src/validation/validator.rs
Due: fmt, clippy, test

fix flaky tests with mutex
  src/templating/functions.rs
Due: fmt, clippy, test

replace tera with minijinja, lots of other refactors
  CLAUDE.md
  CONFIG_FORMAT.md
  Cargo.lock
  Cargo.toml
  PRD.txt
  README.md
  TEMPLATING.md
  examples/circleci_rails/config/services.yml
  schemas/v1/config-base-schema.json
  src/commands/generate.rs
  src/commands/graph.rs
  src/commands/inspect.rs
  src/commands/list.rs
  src/commands/validate.rs
  src/loader/mod.rs
  src/main.rs
  src/templating/engine.rs
  src/templating/functions.rs
  src/templating/variables.rs
  src/validation/config.rs
  src/validation/job.rs
  src/validation/validator.rs
Due: fmt, clippy, test

refactor loader
  src/loader/command_loader.rs
  src/loader/config_loader.rs
  src/loader/file_scanner.rs
  src/loader/job_loader.rs
  src/loader/mod.rs
  src/validation/mod.rs
  src/validation/post_template.rs
  src/validation/validator.rs
Due: fmt, clippy, test

show nice templating errors
  Cargo.toml
  examples/circleci_rails/config/services.yml
  src/loader/command_loader.rs
  src/loader/config_loader.rs
  src/loader/job_loader.rs
  src/templating/engine.rs
  src/templating/error.rs
  src/templating/mod.rs
  src/validation/post_template.rs
Due: fmt, clippy, test

remove space from filenames in miette errors
  src/templating/error.rs
  src/validation/data/error.rs
  src/validation/error_reporter.rs
Due: fmt, clippy, test

make files clickable in miette errors for iterm2 with a leading space
  src/error_utils.rs
  src/lib.rs
  src/loader/context.rs
  src/loader/mod.rs
  src/main.rs
  src/templating/error.rs
  src/validation/data/error.rs
  src/validation/error_reporter.rs
Due: fmt, clippy, test

added cli args and config options to control the graph dpi, color, and size
  examples/circleci_rails/config/services.yml
  schemas/v1/config-base-schema.json
  src/commands/graph.rs
  src/main.rs
  src/models/config.rs
Due: fmt, clippy, test
