Repository DocSpring/cigen: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, test, actionlint

lefthook.yml:

# Lefthook configuration for cigen
# https://github.com/evilmartians/lefthook

pre-commit:
  jobs:
    - name: trim-trailing-whitespace
      run: |
        for file in {staged_files}; do
          if [[ -f "$file" ]]; then
            # Remove trailing whitespace (portable sed usage)
            if [[ "$OSTYPE" == "darwin"* ]]; then
              sed -i '' 's/[[:space:]]*$//' "$file"
            else
              sed -i 's/[[:space:]]*$//' "$file"
            fi
            # Ensure file ends with newline
            if [[ -s "$file" && -z $(tail -c 1 "$file" | od -An -tx1) ]]; then
              echo >> "$file"
            fi
          fi
        done
      file_types:
        - text
      stage_fixed: true
    - run: npx ultracite format {staged_files}
      glob:
        - "*.js"
        - "*.jsx"
        - "*.ts"
        - "*.tsx"
        - "*.json"
        - "*.jsonc"
        - "*.css"
        - "**/*.js"
        - "**/*.jsx"
        - "**/*.ts"
        - "**/*.tsx"
        - "**/*.json"
        - "**/*.jsonc"
        - "**/*.css"
      stage_fixed: true
    - run: npx prettier --write {staged_files}
      glob:
        - "*.yml"
        - "*.yaml"
        - "*.md"
        - "**/*.yml"
        - "**/*.yaml"
        - "**/*.md"
      stage_fixed: true
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    test:
      glob: "*.rs"
      run: cargo test
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: |
        if ! command -v actionlint &> /dev/null; then
          echo "actionlint not found. Please install it:"
          echo "  brew install actionlint"
          echo "  or"
          echo "  go install github.com/rhysd/actionlint/cmd/actionlint@latest"
          exit 1
        fi
        actionlint {staged_files}

pre-push:
  parallel: true
  commands:
    check:
      run: cargo check
    test-all:
      run: cargo test --all

more updates
  plugins/provider-circleci/src/main.rs
  src/loader.rs
  src/orchestrator/convert.rs
  src/orchestrator/dag.rs
  src/orchestrator/mod.rs
  src/orchestrator/workflow.rs
Due: fmt, clippy, test

fixed issues
  src/commands/generate.rs
  src/loader.rs
  src/orchestrator/convert.rs
  src/orchestrator/dag.rs
  src/orchestrator/mod.rs
  src/schema/job.rs
  tests/circleci_job_status.rs
  tests/schema_parsing.rs
Due: fmt, clippy, test

fixed
  .cigen/workflows/ci/jobs/test.yml
  plugins/provider-circleci/src/main.rs
  src/orchestrator/dag.rs
  src/orchestrator/workflow.rs
  tests/circleci_job_status.rs
Due: fmt, clippy, test

fixed
  plugins/provider-circleci/src/main.rs
Due: fmt, clippy, test

updates
  .gemini/GEMINI.md
  .gitignore
  internal_docs/CACHING.md
  internal_docs/CIGEN_YML_SCHEMA.md
  internal_docs/CIRCLECI.md
  internal_docs/CONFIG_FORMAT.md
  internal_docs/JOB_SKIPPING.md
  internal_docs/MIGRATION_STATUS.md
  internal_docs/NOTES.md
  internal_docs/OR_DEPENDENCIES.md
  internal_docs/PHILOSOPHY.md
  internal_docs/PLUGIN_ARCHITECTURE.md
  internal_docs/PRD.txt
  internal_docs/REQUIREMENTS.md
  internal_docs/SELF_HOSTING_ON_GITHUB_ACTIONS.md
  internal_docs/STDIO_TRANSPORT_DESIGN.md
  internal_docs/TEMPLATING.md
  internal_docs/TODO.md
  internal_docs/dynamic_setup_redesign.md
  scripts/ci_config_comparison/README.md
  scripts/ci_config_comparison/compare.py
  scripts/compare_ci_configs.py
  scripts/compare_ci_configs.rb
  scripts/validate_ci_config.rb
Due: none

fixed CI, updated Dockerfile
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  docker/cigen-bootstrap/Dockerfile
  internal_docs/SELF_HOSTING_ON_GITHUB_ACTIONS.md
  plugins/provider-circleci/Cargo.toml
  plugins/provider-circleci/src/main.rs
  plugins/provider-github/src/main.rs
  tests/circleci_job_status.rs
Due: fmt, clippy, test

Add Woodpecker CI provider plugin + fix clippy errors
  Cargo.lock
  Cargo.toml
  plugins/provider-woodpecker/Cargo.toml
  plugins/provider-woodpecker/src/main.rs
  src/commands/generate.rs
Due: fmt, clippy, test

Regenerate CI workflows with 'Build workspace' step
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: actionlint

Fix needs resolution across stages (approval jobs)
  src/orchestrator/dag.rs
Due: fmt, clippy, test

Add Woodpecker CI pipeline
  .woodpecker.yml
Due: none

update ci config
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: actionlint

more work
  .cigen/workflows/ci/jobs/self_check.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  docker/cigen-bootstrap/Dockerfile
  docker/cigen-bootstrap/Dockerfile.local
  plugins/provider-circleci/src/main.rs
  plugins/provider-github/src/main.rs
  schemas/v1/workflow-config-schema.json
  scripts/build-cigen-bootstrap-local.sh
  src/commands/generate.rs
  src/main.rs
  tests/circleci_job_status.rs
Due: fmt, clippy, test, actionlint

Add Woodpecker CI provider plugin for self-hosted Gitea integration
  CLAUDE.md
  examples/woodpecker/.cigen/config.yml
  examples/woodpecker/.cigen/workflows/ci/jobs/build.yml
  examples/woodpecker/.cigen/workflows/ci/jobs/lint.yml
  examples/woodpecker/.cigen/workflows/ci/jobs/test.yml
  examples/woodpecker/.woodpecker/ci.yaml
  examples/woodpecker/README.md
  plugins/provider-woodpecker/README.md
  plugins/provider-woodpecker/src/main.rs
  src/commands/generate.rs
Due: fmt, clippy, test

Add services support and step names to Woodpecker CI provider
  plugins/provider-woodpecker/src/main.rs
Due: fmt, clippy, test

Add Woodpecker CI setup guide for Gitea integration
  WOODPECKER_SETUP.md
Due: none
